<h1>Transfer Money to Anyone at Anytime</h1>
<ul class="list-group list-group-flush mt-3" style="box-shadow: 5px 10px 18px #888888;font-size: large;background-color: white;">
   
    <% users.forEach((user) => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <i class="fas fa-user-circle" style="color:#fa2601"> <%=user.firstName%> <%=user.lastName%> 
                <small style="color: black; font-weight: bold;">(Balance : <%=user.currentBalance%>)</small>
            </i>
            

            <button class="btn btn-success"  data-toggle="collapse" data-target="#collapseExample<%=user.firstName%>" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-money-check"></i>
            </button>
            
        </li>
        <div class="collapse" id="collapseExample<%=user.firstName%>" >
            <div class="card card-body">
                <form method="POST" action="/payment/<%=customer._id%>">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="senderId" value="<%=customer._id%>" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="senderName">Sender </label>
                            <input type="text" class="form-control" id="senderName" name="senderUserName" readonly value="<%=customer.firstName%>">
                          </div>
                        <div class="form-group col-md-6">
                          <label for="userInputEmail1">To</label>
                          <input type="text" class="form-control" id="userInputEmail1" placeholder="Enter Receiver First Name" name="receiver" readonly value="<%=user.firstName%>">
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="exampleInputEmail1">Receiver Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Receiver email" name="receiveremail" readonly value="<%=user.email%>">
                          </div>
                        <div class="form-group col-md-6">
                            <label for="amountInput">Amount</label>
                            <input type="text" class="form-control" id="amountInput" name="receivedamount"/>
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary w-100" style="font-size: 1.2rem;">
                        Send Money <i class="fas fa-credit-card"></i>
                    </button>
                </form>
            </div>
          </div>
   <% }); %>
</ul>
